PORT=
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.qckpxnt.mongodb.net/nodejs-hw-mongodb?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
JWT_SECRET=
APP_DOMAIN=

# Cloudinary Configuration
CLOUD_NAME=YOUR_CLOUD_NAME
API_KEY=YOUR_API_KEY
API_SECRET=YOUR_API_SECRET
